*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

nav {
	display: flex;
	height: 100px;
	background-color: #ddd;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	font-size: 30px;
	background-color: transparent;
}

/* .burger-icon:hover ~ .nav-items {
	display: flex;
    flex-direction: column;
} */

.nav-items {
	display: none;
}


@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: flex;
		justify-content: space-around;
	}
	nav a {
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		color: #333;
		padding: 30px;
		transition: color 0.3s;
	}
	
	nav a:hover {
		color: rgb(129, 153, 219);
	}
}

